name: "Test Coverage"
on:
  pull_request:
  push:
    branches:
      - main
      - dev

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - name: "Install Node"
        uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: "Install Dependencies"
        run: yarn install
      - name: "Test"
        run: yarn vitest --coverage.enabled true
